---
import LinkButton from "../components/LinkButton.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<div class="flex flex-col items-start max-w-3xl m-auto p-5 mt-5">
		<div class="mb-5">
			<h1 class="hero-heading-1">Paved With Good Intentions</h1>
			<h2 class="hero-heading-2">Latest Episode</h2>
		</div>
		<div class="flex flex-col lg:flex-row items-center lg:items-start gap-5">
			<div class="h-96 w-full lg:w-2/3"><iframe class="h-96 w-full rounded-lg" src="https://www.youtube.com/embed/o83GysKTvO0?list=PL3kd2QrOG8tDcczjFb-Qwg2sSr_8w1vfP" title="Getting Started, with Confidence" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
			<div class="flex flex-col lg:w-1/3">
				<div class="text-1">
					<p>I’ve worked at Apple and Amazon Web Services, as well as start ups here in Sydney, Australia. With 20 years experience managing and growing organizations, I’ve learned that there’s good, bad and ugly lessons to be learned — and that the way to hell is paved with good intentions! I want to share my experiences and observations with you to help you on this journey.</p>
				</div>
				<div class="text-1">
					<p>— <a class="text-jw font-normal hover:underline" href="https://jameswilson.io">James Wilson</a></p>
				</div>
				<div class="flex mt-5">
					<div class="flex flex-row flex-wrap lg:flex-col lg:w-full lg:mr-5 gap-5">
						<LinkButton title="Watch on YouTube" link="https://www.youtube.com/channel/UCOQmUamAcgV3T7qlyRZv6TA">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
						</LinkButton>
						<LinkButton title="Listen on Apple Podcasts" link="https://podcasts.apple.com/au/podcast/paved-with-good-intentions/id1514319757">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-headphones"><path d="M3 18v-6a9 9 0 0 1 18 0v6"></path><path d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"></path></svg>
						</LinkButton>
					</div>
				</div>
			</div>
		</div>
		<footer class="w-full mt-5">
			<div class="flex justify-center">
				<div class="fill-white">
					<a href="https://twitter.com/scotchandcode">
						<svg class="fill-neutral-500" clip-rule="evenodd" fill-rule="evenodd" height="42" stroke-linejoin="round" stroke-miterlimit="2" viewBox="-89.00934757 -46.8841404 643.93723344 446.8841404" width="42" xmlns="http://www.w3.org/2000/svg"><path d="m154.729 400c185.669 0 287.205-153.876 287.205-287.312 0-4.37-.089-8.72-.286-13.052a205.304 205.304 0 0 0 50.352-52.29c-18.087 8.044-37.55 13.458-57.968 15.899 20.841-12.501 36.84-32.278 44.389-55.852a202.42 202.42 0 0 1 -64.098 24.511c-18.42-19.628-44.644-31.904-73.682-31.904-55.744 0-100.948 45.222-100.948 100.965 0 7.925.887 15.631 2.619 23.025-83.895-4.223-158.287-44.405-208.074-105.504a100.739 100.739 0 0 0 -13.668 50.754c0 35.034 17.82 65.961 44.92 84.055a100.172 100.172 0 0 1 -45.716-12.63c-.015.424-.015.837-.015 1.29 0 48.903 34.794 89.734 80.982 98.986a101.036 101.036 0 0 1 -26.617 3.553c-6.493 0-12.821-.639-18.971-1.82 12.851 40.122 50.115 69.319 94.296 70.135-34.549 27.089-78.07 43.224-125.371 43.224a204.9 204.9 0 0 1 -24.078-1.399c44.674 28.645 97.72 45.359 154.734 45.359" fill-rule="nonzero"/></svg>
					</a>
				</div>
			</div>
		</footer>
	</div>
</BaseLayout>
